@media (min-width: 69em) {
  .navbar .navbar-hamburger {
    display: none;
  }
  .navbar-content ul.nav,
  .navbar-content .navbar-contact {
    display: flex;
  }

  /* ##############
  *** Logos Styles ***
   ############## 
*/

  .logos-content {
    grid-template-columns: min-content 1fr;
  }

  .logos-svg img {
    max-height: 3.5rem;
  }

  .logos-svg {
    justify-self: center;
  }
}

@media (min-width: 40em) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    column-gap: 4rem;
  }
}
