@media (min-width: 69em) {
  .navbar .navbar-hamburger {
    display: none;
  }
  .navbar-content ul.nav,
  .navbar-content .navbar-contact {
    display: flex;
  }
}

@media (min-width: 40em) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    column-gap: 4rem;
  }
}
